.home-page {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 64px;
    padding: 1vw;
    text-align: left;
    //max-height: vh; /* Maximum height for the text zone */
    overflow-y: scroll; /* Enable vertical scrolling */
}

.text-zone {
    flex: 1;
    padding: 1vw;
    margin-left: 80px;
    max-width: 80%; /* Ensures the text zone does not exceed half the screen width */
}

h1 {
    color: #fff;
    font-size: 3vw; /* Relative unit to make font-size responsive */
    font-family: 'Coolvetica';
    font-weight: 400;
    position: relative;
    margin-top: 4vw;
    max-width: 100%; /* Ensure h2 does not exceed the container width */
}

h1::before {
    content: '<h1>';
    font-family: 'La Belle Aurore';
    color: #ffffff;
    font-size: 2vw; /* Relative unit */
    position: absolute;
    top: -1.5vw;
    left: 0.5vw;
    opacity: 0.6;
}

h1::after {
    content: '</h1>';
    font-family: 'La Belle Aurore';
    color: #ffffff;
    font-size: 2vw; /* Relative unit */
    position: absolute;
    bottom: -2vw;
    opacity: 0.6;
}

h2 {
    color: #f3aca6;
    font-weight: 800;
    // margin: 64px;
    font-size: 2vw; /* Relative unit */
    font-family: Georgia;
    letter-spacing: 0.05vw;
    margin-top: 0vw;
    margin-bottom: 4vw;
    max-width: 90%; /* Ensure h2 does not exceed the container width */
    word-wrap: break-word; /* Wrap the text if it exceeds the container width */
}

.flat-button {
    color: #f3aca6;
    font-size: 1vw;
    font-weight: 750;
    letter-spacing: 0.07vw;
    font-family: sans-serif;
    text-decoration: none;
    margin: 64px;
    border: 0.25vw solid #f3aca6;
    margin-top: 0vw;
    padding-left: 0.75vw;
    padding-right: 0.75vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    margin-bottom: 2vw;
    display: inline-block;
    background-color: transparent; /* Ensure the background is transparent */
    white-space: nowrap;
    border-radius: 20px;
}

.flat-button:hover {
    background: #f3aca6;
    color: #fff;
}

.headshot {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5vw; /* Adjust the offset from the left */
    width: 35%; /* Adjust the width of the container */
    margin-top: 20vw; /* Add space above the picture */
    margin-bottom: 30vw; /* Add space below the picture */
    padding-right: 7vw;

}

.headshot img {
    width: 75%;
    height:auto;
    max-width: 100vw;
    max-height: 45vw;
    display: block;
}

.word {
    display: inline-block;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    .home-page {
        flex-direction: column;
        text-align: center;
    }

    .headshot {
        .img{
            width: 100%;
            max-height: 80vw;
            object-fit: contain;
        }
        width: 55%; /* Adjust the width of the container */
        height: 100%;
        order: 1;
        margin-top: 10vw;
        margin-left: 0;
        margin-bottom: 1vw; /* Add some space below the image */
    }

    .text-zone {
        order: 2;
        padding: 1vw;
        max-width: 80%; /* Allow text zone to take full width on smaller screens */
        padding-right: 10vw;
        padding-bottom: calc(200px + 10vh);

    }

    h1 {
        font-size: 8vw; /* Adjust font-size for smaller screens */
        max-width: 90%;
        word-wrap: break-word;
    }

    h1::before, h1::after {
        font-size: 4vw; /* Adjust pseudo-element font-size for smaller screens */
    }

    h2 {
        font-size: 5vw; /* Adjust font-size for smaller screens */
        margin:64px;
        margin-left: 2vw;
        text-align: center;
    }

    .flat-button {
        font-size: 3vw;
        font-weight: 750;
        letter-spacing: 0.07vw;
        font-family: sans-serif;
        text-decoration: none;
        margin: 0px;
        border: 0.8vw solid #f3aca6;
        margin-top: 0vw;
        padding-left: 1.25vw;
        padding-right: 1.25vw;
        padding-top: 0.5vw;
        padding-bottom: 0.5vw;
        margin-bottom: 5vw;
        display: inline-block;
        background-color: transparent; /* Ensure the background is transparent */
        white-space: nowrap;
    }

}

@media (max-width: 450px) {
    .home-page {
        flex-direction: column;
        text-align: center;
        max-width: 100vw;
        max-height: 100vh;
    }

    .headshot {
        .img{
            width: 100%;
            max-height: 80vw;
            object-fit: contain;
        }
        width: 55%; /* Adjust the width of the container */
        height: 100%;
        order: 1;
        margin-top: 10vw;
        margin-left: 0;
        margin-bottom: 1vw; /* Add some space below the image */
    }

    .text-zone {
        order: 2;
        padding: 1vw;
        max-width: 80%; /* Allow text zone to take full width on smaller screens */
        padding-right: 10vw;
        padding-bottom: calc(200px + 10vh);

    }

    h1 {
        font-size: 8vw; /* Adjust font-size for smaller screens */
        max-width: 90%;
        word-wrap: break-word;
    }

    h1::before, h1::after {
        font-size: 4vw; /* Adjust pseudo-element font-size for smaller screens */
    }

    h2 {
        font-size: 5vw; /* Adjust font-size for smaller screens */
        margin:64px;
        margin-left: 2vw;
        text-align: center;
    }

    .flat-button {
        font-size: 3vw;
        font-weight: 750;
        letter-spacing: 0.07vw;
        font-family: sans-serif;
        text-decoration: none;
        margin: 0px;
        border: 0.8vw solid #f3aca6;
        margin-top: 0vw;
        padding-left: 1.25vw;
        padding-right: 1.25vw;
        padding-top: 0.5vw;
        padding-bottom: 0.5vw;
        margin-bottom: 5vw;
        display: inline-block;
        background-color: transparent; /* Ensure the background is transparent */
        white-space: nowrap;
    }

}